<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
    
    <title>User Page</title>
</head>
<body>
    
    
    <h1>Welcome {{user.first_name}}!</h1>
    <p>Total wishes graned so far for all users: {{all_granted_wishes_count}}</p>
    <p>Your granted wishes: {{user_granted_wishes_count}}</p>
    <p>Your pending wishes: {{user_pending_wishes_count}}</p>


    <a href='/logout'>Logout</a>
    

    
</body>
</html>